qdrant-client==1.17.1
pymilvus==2.6.10
weaviate-client==4.20.4
chromadb==1.5.5
pinecone-client==6.0.0
vectordb-bench[qdrant,pinecone,weaviate,chromadb]==1.0.20
locust==2.43.3
datasets==4.8.4
fastembed==0.8.0
faiss-cpu==1.13.2
tqdm==4.67.3